.git
data-raw
tdmore.Rproj
.Rproj.user
.travis.yml
docs
README.md
README_files
README.Rmd
_pkgdown.yml
bookdown
.github
CONTRIBUTING.md
index.Rmd
Dockerfile
logo.png
logo.svg
docker-compose.test.yml
.covrignore
pkgdown
